@import "tailwindcss";

:root {
  --font-display: 'SF Pro Display', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --font-body: 'Geist', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --bg: #f0f0ff;        /* Background */
  --cbg: #ffffff;       /* Card/Component background */
  --tc1: #000000;       /* Text color 1 (primary) */
  --tc2: #333333;       /* Text color 2 (secondary) */
  --tc3: #2f2f2f;       /* Text color 3 (tertiary) */
  --b1: #0071e3;        /* Button primary */
  --b2: #e5e5e5;        /* Button secondary */
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-display);
  font-size: 3.25rem;
  font-optical-sizing: auto;
  font-weight: 800;
  line-height: 100%;
}

h2 {
  font-family: var(--font-display);
  font-size: 2.25rem;
  font-optical-sizing: auto;
  font-weight: 600;
}

h3 {
  font-family: "Epilogue", sans-serif;
  font-size: 2rem;
  font-optical-sizing: auto;
  font-weight: 500;
}

h4 {
  font-family: "Epilogue", sans-serif;
  font-size: 1.75rem;
  font-optical-sizing: auto;
  font-weight: 500;
}

h5 {
  font-family: "Epilogue", sans-serif;
  font-size: 1.5rem;
  font-optical-sizing: auto;
  font-weight: 400;
}

h6 {
  font-family: "Sora", sans-serif;
  font-size: 1.25rem;
  font-optical-sizing: auto;
  font-weight: 300;
}

p {
  font-family: "Sora", sans-serif;
  font-size: 0.8rem;
  font-optical-sizing: auto;
  font-weight: 300;
}

button {
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

/* Marquee Animation CSS */

.marquee-content {
  display: inline-flex;
  gap: 4rem;
  animation: marquee 30s linear infinite;
  will-change: transform;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.award-image {
  flex-shrink: 0;
  transition: all 0.3s ease;
}

@keyframes marquee-vertical-down {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(0%); }
}

@keyframes marquee-vertical-up {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-50%); }
}

@keyframes marquee-horizontal {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee-vertical-down {
  animation: marquee-vertical-down 20s linear infinite;
}

.animate-marquee-vertical-up {
  animation: marquee-vertical-up 20s linear infinite;
}

.animate-marquee-horizontal {
  animation: marquee-horizontal 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}